.todo-form {
  display: flex;

  input[type='text'] {
    flex-grow: 1;
    font-size: 22px;
    height: 55px;
    
    &::placeholder {
      color: #333;
      opacity: 0.4;
    }
  }

  button {
    height: 55px !important;
  }
}
