@import "Todoitem";
@import "TodoForm";
@import "About";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;

  a {
    color: #333;
    text-decoration: none;
  }

  .App {
    display: flex;
    flex-direction: column;

    .todo-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .input-default {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }

  .button-default {
    background-color: #0070f3;
    border: none;
    color: #fff;
    outline: 0;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
    height: 35px;
    text-transform: uppercase;

    &:hover {
      background-color: #0070f3;
      opacity: 0.8;
    }
  }

  .link-button {
    display: flex;
    align-items: center;
    margin: 20px auto;

    > a {
      text-align: center;
      padding: 5px 30px;
      border: 1px solid #0070f3;
      border-radius: 3px;
    }
  }
}
